{% import "_includes/forms" as forms %}

<div class="SiteSyncField matrixblock {{ value.enabled ? 'is-enabled' }}" id="{{ id }}">
  <div class="SiteSyncField-header titlebar">
    <div class="SiteSyncField-toggleField">
      {{ forms.lightswitch({
          name: name ~ '[enabled]',
          id: toggleFieldId,
          labelId: toggleLabelId,
      }) }}
      <label id="{{ toggleLabelId }}">
        Enabled
      </label>
    </div>
  </div>
  <div class="SiteSyncField-panel {{ not value.enabled ? 'disabled' }}">
    {{ forms.checkboxSelectField({
        label: 'Sources',
        allLabel: 'All Content',
        showAllOption: true,
        id: '',
        name: '',
        options: {
          'title': 'Title'|t('site-sync'),
          'fields': 'Fields'|t('site-sync'),
          'slug': 'Slug'|t('site-sync'),
        },
      })
    }}

    {{ forms.lightswitchField({
        label: 'Overwrite',
        name: name ~ '[overwrite]',
        instructions: 'Replace content in other sites, even if it doesn\'t match.',
    }) }}
  </div>
</div>
